.select {
    display: flex;
    flex-direction: column;
    gap: 5px;

    &>.label {
        display: flex;
    }

    &>.container {
        display: flex;
    }

    &.inline {
        flex-direction: row;
        gap: 15px;
    }
}